.App {
  text-align: center;
}

* {
 
  color: white;
}

input {
  background-color: white;
  color: black;
}

.navbar-container{
  background-color: #545151;
}

.main-text{
 text-align: right;
 padding-right: 25%;
 padding-top: 10%;
 font-family:monospace;
 color:#efe6e6;
}